/* sfondo principale */
/* sfondo principale */
/* .home-page {
  background-image: url('sfondoPortfolio.png');
  background-size: cover;
  background-position: center;
} */

.intro {
  color: #369fc9b6;
  text-shadow: 2px 2px #000;
}

.rounded-img {
  border-radius: 20px;
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw);
}


/* immagine profilo */
/* immagine profilo */
.rounded-img {
  border-radius: 20px;
  width: 20vw; 
  max-width: 500px;
}

/* navBar */
.navbar-with-shadow {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: #5a5a5a;
}

.nav-link:hover {
  color: #000;
}

.dropdown-item {
  color: #5a5a5a;
}

.dropdown-item:hover {
  color: #000;
}

/* description page */
.description {
  color: #1607e2b6;
  text-shadow: 2px 2px #000;
}

.btn {
  background-color: #5a5a5a;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}


#iconeSkills{
  width: 100px; 
}